[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-auto-logout = "*"
pytz = "*"
user-agents = "*"

[dev-packages]

[requires]
python_version = "3.11"
